body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.movies_title {
  text-align: center;
  font-size: 36px;
}

.movies {
  margin: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 20px;
  gap: 15px;
  background-color: rgba(217, 217, 217, 0.63);
  border-radius: 20px;
  font-size: 17px;
}
.wrapper > div {
  border-bottom: 2px solid black;
  max-width: fit-content;
}
.wrapper div:nth-child(3), .wrapper div:nth-child(4) {
  border: none;
}
.wrapper div:last-child > b {
  border-bottom: 2px solid black;
}

[id*=movie_] b {
  border-bottom: 2px solid black;
}
[id*=movie_] div {
  font-weight: 700;
  margin-left: 15px;
  margin-top: 15px;
}
[id*=movie_] span {
  margin-right: 5px;
}

.box_loader {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.container_loader {
  height: 15px;
  width: 105px;
  display: flex;
  position: relative;
}
.container_loader .circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #000;
  animation: move 500ms linear 0ms infinite;
  margin-right: 30px;
}
.container_loader .circle:first-child {
  position: absolute;
  top: 0;
  left: 0;
  animation: grow 500ms linear 0ms infinite;
}
.container_loader .circle:last-child {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 0;
  animation: grow 500ms linear 0s infinite reverse;
}

@keyframes grow {
  from {
    transform: scale(0, 0);
    opacity: 0;
  }
  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}
@keyframes move {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(45px);
  }
}

/*# sourceMappingURL=style.css.map */
